<%= form_with(model: especy, local: true) do |form| %>
  <% if especy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(especy.errors.count, "error") %> prohibited this especy from being saved:</h2>

      <ul>
      <% especy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :cientifico %>
    <%= form.text_field :cientifico %>
  </div>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :popular %>
    <%= form.text_field :popular %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
