<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @especy.nome %>
</p>

<p>
  <strong>Cientifico:</strong>
  <%= @especy.cientifico %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @especy.nome %>
</p>

<p>
  <strong>Popular:</strong>
  <%= @especy.popular %>
</p>

<%= link_to 'Edit', edit_especy_path(@especy) %> |
<%= link_to 'Back', especies_path %>
